{% extends 'base.html.twig' %}
{% block title %}Ajouter une Absence
{% endblock %}

{% block body %}
	<style>
		label {
			margin-right: 5px;
		}
	</style>


	{{ form_start(form) }}
	<h1>Ajouter une Absence</h1>

	{{ form_end(form) }}

{% endblock %}
