{% extends 'base.html.twig' %}

{% block title %}Rechercher Absences
{% endblock %}

{% block body %}
	<h1>Rechercher des absences</h1>

	{{ form_start(form) }}
	{{ form_row(form.nom) }}
	{{ form_end(form) }}

	{% if absences is not empty %}
		<h2>Absences de l'étudiant : XXXXX
		</h2>
		// à compléter
		<table>
			<thead>
				<tr>
					// à compléter
				</tr>
			</thead>
			<tbody>
				{% for absence in absences %}
					<tr>
						// à compléter
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	{% if absences is empty and formSubmitted %}
		<p>XXXX
		</p>
		// à compléter
	{% endif %}
{% endblock %}
