{% extends 'base.html.twig' %}
{% block title %}Créaction Étudiant {% endblock %}

{% block body %}
<style>
 label { margin-right:5px;}
 </style>


 {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
   
 
{{ form_end(form) }}
 
      

 {% if errors is not empty %}
        <div class="alert alert-danger text-center mx-auto" style="max-width: 500px;">
            <ul>
                {% for error in errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
{% endif %}

 
 {% endblock %}